#mtavari {
    display: flex;
    cursor: pointer;
    width: 100%;
    height: 39px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid silver;
    padding: 8px;
}


.container {
  display: flex;
}
/* .pirveli {
  background-color: white;
  height: 48px;
  border-radius: 24px 24px 24px 24px;
  font-family: Google Sans,Roboto,Arial,sans-serif;
  font-size: .875rem;
  font-weight: 500;
  letter-spacing: .0178571429em;
  padding-top: 2px;
  padding-right: 24px;
  padding-bottom: 2px;
  padding-left: 24px;
  text-transform: none;
  display: inline;
} */
.row {
  text-align: center;
  
}
#meore {
  display: flex;
  border-radius: 0 40px 40px 0;
  background-color: #F1F3F4;
  padding: 5px; 
  box-sizing: border-box;
  margin-top: 16px;
}
#headingandicons {
  display: flex;
  justify-content: space-between;
}
#new--list {
  display: flex;
  align-items: center;
  border-radius: 24px 24px 24px 24px;
  padding-top: 2px;
  padding-right: 24px;
  padding-bottom: 2px;
  padding-left: 24px;
  background-color: white;
  font-size: .875rem;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
  margin-top: 16px;
  margin-left: 6px;
  width: 99px;
}
#new--list:hover {
  box-shadow: 1px 1px;
  background-color: white;
}
#gasalurjebeli:hover {
  color: blue;
}
#Google {
  display: inline;
  /* position: absolute; */
  width: 74px;
  height: 24px;
  left: 50%;
  align-items: center;
  cursor: pointer; 
  
  bottom: 12px;

}

.shopping-list{
  position: relative;
  right: 42.5%;
  bottom: 2px;
  padding-left:2px;
}
#menu {
  cursor: pointer;
}

#menu:hover{
  background-color: rgba(60,64,67,.08);

}

#header { 
 display: inline;
 cursor: pointer;
 height: 24px;
 font-size: 24px;
 color: #5f6368;

 
}
#help, #feedback, #privacy {
  cursor: pointer;
}
#plus {
  background-color: transparent;
}
#feedback {
  color: #5f6368;
  font-weight: 200;
  display: flex;
  margin-top: 16px;
  margin-left: 10px;
  margin-right: 10px;
}
#help {
  color: #5f6368;
  font-weight: 200;
  display: flex;
  margin-top: 16px;
  margin-left: 10px;
  margin-right: 10px;
}
#privacy {
  color: #5f6368;
  font-weight: 200;
  margin-top: 16px;
  margin-left: 10px;
  margin-right: 138px;
}
.material-icons {
  cursor: pointer;
}
#ruxi {
  cursor: pointer;
  padding: 0px;
  font-weight: 600;
  font-family: Google Sans,Roboto,Arial,sans-serif;
  font-size: 14px;
}
#pi {
  margin-top: 18px;
  margin-left: -92px;
}

#twoitems{
  display: block;
}

#col-md-8{
  padding-bottom: 20px;
  margin-left: 157px;
}

#shoppinglist2items {
  font-size: 26px;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
}
#twoitems {
  color: #5f6368;
  display: flex;
  font-size: 15px;
  border-left: 50px;
}
ul {
  display: block;
  font-family: "Google Sans",Roboto,Arial,sans-serif;;
  list-style: none;
  color: #5f6368;
  width: auto;
  position: relative;
  width: 740px;
}
.kvadrati {
  width: 18px;
  height: 18px;
  color: black solid;

}

#gray{
  width: 100%;
  position: inherit;
  color: #5f6368;
  margin-left: 110px;
}
#black {
  width: 100%;
  position: inherit;
  color: #5f6368;
  margin-left: 110px;
}
